{%extends "layout.html" %}

{%block body%}

<h1>Telugu Bible Index</h1>
<form action="/getbible" method="get">
    <label for="book">Select Book:</label>
    <select name="book" id="book">
        <option disabled selected value="">Book</option>
        {% for book in books %}
        <option value="{{ book }}">{{ book }}</option>
        {% endfor %}
    </select>

    <label for="chapter_no">Chapter:</label>
    <input type="number" id="chapter_no" name="chapter_no" placeholder="Chapter Number" required>

    <label for="verse_no">Verse:</label>
    <input type="number" id="verse_no" name="verse_no" placeholder="Verse Number" required>

    <button type="submit">Get Verse</button>
    
</form>
<ol>
    {%for verse in result %}
    {% if loop.index == verse_no %}
    high=highlight
    {% endif %}
    <li class={{high}}>{{verse}}</li>
    {% endfor %}

</ol>
<p class="highlight">{{verse_no}}</p>

    
{%endblock%}